<div id='homeimage'>

<div class='centerButton'>
    <form method='POST' action='/contact'>

        <input id='cityInfo' type='text' name='destination' placeholder='Destination' />
        <label for='destination'>Destination:</label>
        <div class='block'></div>

        <input type='text' name='name' placeholder='Name' />
        <label for='name'>Name:</label>
        <div class='block'></div>

        <input type='text' name='email' placeholder='E-mail' />
        <label for='email'>E-mail:</label>
        <div class='block'></div>

        <textarea name='textarea' placeholder='Tell us about the trip you want to take!' rows="8" maxlength='500'></textarea>

        <div class='centerButton'>
            <button id='submit' type='submit'>Submit</button>
        </div>

</div>

</div>

<script src='/javascript/contact.js'></script>