<div class='destinationContainer'>
    <div class='destination' id='paris'>
        <img class='object-cover' src='/images/paris.jpg' alt='Paris, France' />
        <p>Paris, France</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1600 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='kauai'>
        <img class='object-cover' src='/images/kauai.jpg' alt='Kauai, Hawaii' />
        <p>Kauai, Hawaii</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $2000 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='copenhagen'>
        <img class='object-cover' src='/images/copenhagen.jpg' alt='Copenhagen, Denmark' />
        <p>Copenhagen, Denmark</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1400 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='queenstown'>
        <img class='object-cover' src='/images/queenstown.jpg' alt='Queenstown, New Zealand' />
        <p>Queenstown, New Zealand</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1250 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='sydney'>
        <img class='object-cover' src='/images/sydney.jpg' alt='Sydney, Australia' />
        <p>Sydney, Australia</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1600 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='innsbruck'>
        <img class='object-cover' src='/images/innsbruck.jpg' alt='Innsbruck, Austria' />
        <p>Innsbruck, Austria</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1800 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='lisbon'>
        <img class='object-cover' src='/images/lisbon.jpg' alt='Lisbon, Portugal' />
        <p>Lisbon, Portugal</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1500 Per Person</p>
    </div>
</div>

<div class='destinationContainer'>
    <div class='destination' id='rome'>
        <img class='object-cover' src='/images/rome.jpg' alt='Rome, Italy' />
        <p>Rome, Italy</p>
        <p>Flight, Hotel, Rental Car Included</p>
        <p>From $1300 Per Person</p>
    </div>
</div>

<div id='modal'>
    <div class='modal'>
        <span class='close'>&times;</span>

        <img class='modal_img' src='/images/rome.jpg' alt='Rome, Italy' />

        <div class='city'>

        </div>
        <div class='info'>

        </div>
        
        <div class='centerButton'>
            <div class='inquire'>
                    <p>Inquire About This Trip</p>
            </div>
        </div>
    </div>
</div>

<script src='/javascript/destinations.js'></script>