<div id='homeimage'>

<div class='homeContainer'>
    <div id='homeSydney' class='destination'>
        <img class='object-cover' src='/images/sydney.jpg' alt='Sydney, Australia' />
        <p>Newly Added!</p>
        <p>Sydney Australia</p>
        <p>Packages starting at $1600</p>
        <p class='font20p'>Enjoy the northern hemisphere's winter in the Australian summer sun. This amazing city has a bustling city center and beautiful sandy beaches.</p>
    </div>
</div>

<div class='homeContainer'>
    <div id='homeInnsbruck' class='destination'>
        <img class='object-cover' src='/images/innsbruck.jpg' alt='Innsbruck, Austria' />
        <p>Newly Added!</p>
        <p>Innsbruck Austria</p>
        <p>Packages starting at $1600</p>
        <p class='font20p'>The best ski resorts in the world are located here in Innsbruck. Hit the slopes and then enjoy fantastic food and beer at the après ski.</p>
    </div>
</div>

</div>

<script src='/javascript/home.js'></script>